@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body main {
  width: 100%;

  max-width: 1368px;
  margin: 0 auto;

  padding-bottom: 4rem;
  margin-top: 6rem;
}

body #mainFooter {
  width: 100%;
  
  margin: 0 auto;

  padding-bottom: 4rem;
  margin-top: 10rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;  
  
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 9999px;
  box-shadow: inset 0px 3px 3px rgba(256, 256, 256, 1); 

}
