@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body main, #mainFooter {
  width: 100%;

  max-width: 1368px;
  margin: 0 auto;

  padding-bottom: 4rem;
}